.o {
    text-decoration: line-through;
    color: #6c5;
}

.si{
    background-color: #6c5;
}
.no{
    background-color: #933;
}
.mat-toolbar.mat-primary {
    background:#0096d6;
    color: #fff;
  }

.mat-progress-bar.mat-primary {
    background:#0096d6;
    color: #fff;
}
  

 .Satisfy {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 120%;
    font-family: 'satisfy', 'arial', sans-serif;
  }

  .mat-card{
    background-color:#D4E6F1 ;
    color: #000;
    position:absolute;
    bottom:90%;
    right:5%;
  }

.transparent{
  opacity: .5;
  background-color: rgba(55, 49, 74, 0.71);
  width: 100%;
  position: relative;
  top: 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'satisfy', 'arial', sans-serif;
}