<mat-progress-bar *ngIf="loadBar" color="primary" mode="indeterminate" style="position:fixed"></mat-progress-bar>

<mat-toolbar color="primary" class="fixed-bottom" >
    <span class="Satisfy" type="button" (click)="onCredits()">Presales<i style="font-size:18px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">II</i></span>
    <button mat-icon-button class="favorite-icon" (click)="onCredits()">
       <mat-icon>power_settings_new</mat-icon>
    </button>
    <input type="text" style="width: 100%; background-color: #e7e7e7; border-radius: 2px; border: 2px solid #e7e7e7;" class="form-control mr-sm-8" (change)="myMessage()" [(ngModel)]="userChat.text">
    <button mat-icon-button>
        <mat-icon>send</mat-icon>
    </button>
</mat-toolbar>

<div>
    <div *ngFor="let a of myMessages; let last = last" >
        <mat-card color="accent" >
            <div *ngIf="last" role="alert">
<!--                 <label for="" style="font-weight: bold;">{{a.user}} </label>-->   
              <span> {{a.text}}</span>
            </div>
        </mat-card>
    </div> 
</div>
<div class="transparent" *ngIf="credVar"> 
    <h3>Presales<i style="font-size:26px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">II</i> credits</h3>
    <dl *ngFor="let item of credits">
        <dt>{{item.i}}</dt>
        <dd>{{item.o}}</dd>
    </dl>
    <mat-icon  (click)="onCredits()"  type="button" >clear</mat-icon> 
</div>
<app-bom></app-bom>