<div class="tables">
    <div *ngFor="let x of BOM; let j = index;" class="d-flex flex-column align-items-end" style="float:left; margin-left: 0.5em;">
    <span style="margin-bottom: 5%;"  *ngIf="!opcionBom[0].active">
            <span matBadge="1" *ngIf="j == 0" matBadgePosition="before" matBadgeOverlap="false"></span>
            <span matBadge="2" *ngIf="j == 1" matBadgePosition="before" matBadgeOverlap="false"></span>
            <span  *ngIf="j == 1" style="position: absolute; left:54%; top: -10%;">
                <mat-card *ngIf="noteCompare">       
                    <div style="text-align: center; font-size: 14px;" *ngIf="opcionEv[1].active == false">Compare AVs of BOM 1 with those of BOM 2</div><div style="text-align: center; font-size: 14px;" *ngIf="opcionEv[1].active == true">Compara AVs del BOM 1 con los del 2</div>
                </mat-card>           
            </span>
    </span>
    <span>
        <mat-icon mat-button (click)="onParts(j)"  type="button" *ngIf="nameApp === 'BOM'">rate_review</mat-icon>
        <mat-icon mat-button (click)="emitPrice(j)"  type="button" *ngIf="nameApp === 'BOM'">monetization_on</mat-icon>
        <mat-icon mat-button (click)="emitBOM2(j)"  type="button" *ngIf="nameApp === 'BOM'">web</mat-icon>
        <mat-icon  (click)="saveBto(j)" type="button" *ngIf="nameApp === 'BTO'">save</mat-icon>
        <mat-icon [matMenuTriggerFor]="menu" type="button">settings</mat-icon>
        <mat-icon  (click)="editBto(j)" type="button" *ngIf="nameApp === 'BOM'">edit</mat-icon>
        <mat-icon  (click)="emitBuild(j)" type="button">build</mat-icon>
        <mat-icon  (click)="editBto(j)" type="button" *ngIf="nameApp === 'BTO' || parts">cancel_presentation</mat-icon>
        <mat-icon (click)="back(j)" *ngIf="j != 0"  type="button" >arrow_back</mat-icon>
        <mat-icon mat-button (click)="selecCopy(j)" type="button" id="copy_btn">content_copy</mat-icon>
        <mat-icon mat-button (click)="clearBom(j)"  type="button" >clear</mat-icon> 
    </span>
    <label contenteditable="true" id='testTable{{j}}'>
    <table class="table table-sm table-bordered"  contenteditable="false" *ngIf="x[1].name !== 'error' && !parts">
        <thead *ngIf="BOM">
            <tr>
                <ng-container>
                    <th style="font-family: Forma DJR Micro; background-color: #68CAFF; border-color: #68CAFF;">{{nameApp}}</th>
                    <th style="font-family: Forma DJR Micro; text-align: center;  border: none; border-width: 0px" *ngIf="nameApp === 'BOM'" >
                        <span *ngIf="x[1].name2"><ng-container *ngIf="opcionBom[4].active" style="font-family: Forma DJR Micro; text-align: center;" >{{x[1].name2}}</ng-container></span> &nbsp;
                        <span style="font-family: Forma DJR Micro; text-align: center;" >{{x[1].name}}</span> &nbsp;
                        <span style="font-family: Forma DJR Micro; text-align: center;" >{{x[1].build}}</span>
                    </th>
                    <th style="font-family: Forma DJR Micro; text-align: center;" *ngIf="nameApp === 'BTO'">
                        <span><input style="font-family: Forma DJR Micro; text-align: center;"  size="40" [(ngModel)]="x[1].name"></span>
                    </th>
                </ng-container>
            </tr> 
            <tr style="font-family: Forma DJR Micro; background-color: #68CAFF;">
                <th scope="col" style="font-family: Forma DJR Micro; font-size: 14.5px; border-color: #68CAFF;">AV</th>
                <th scope="col" style="font-family: Forma DJR Micro; font-size: 14.5px; border-color: #68CAFF;">Description</th>
                <th scope="col" *ngIf="nameApp === 'BOM' && x[2].BOM[0].fDescription" style="font-family: Forma DJR Micro; font-size: 14.5px; border-color: #68CAFF;">Family Description</th>
                <th scope="col" *ngIf="nameApp === 'BOM' && x[2].BOM[0].fDescription && !opcionBom[6].active" style="font-family: Forma DJR Micro; font-size: 14.5px; border-color: #68CAFF;">EOL Date</th>
                <th scope="col" *ngIf="nameApp === 'BOM' && x[2].BOM[0].fDescription && !opcionBom[6].active" style="font-family: Forma DJR Micro; font-size: 14.5px; border-color: #68CAFF;">Availability Date</th>
                <th scope="col" *ngIf="nameApp === 'BOM' && x[2].BOM[0].fDescription && !opcionBom[6].active" style="font-family: Forma DJR Micro; font-size: 14.5px; border-color: #68CAFF;">Discontinued Date</th>
                <th scope="col" *ngIf="nameApp === 'BOM' && x[2].BOM[0].fDescription && !opcionBom[6].active" style="font-family: Forma DJR Micro; font-size: 14.5px; border-color: #68CAFF;">Obsolete Date</th>
                <th scope="col" *ngIf="nameApp === 'BOM' && x[2].BOM[0].fPrice && !opcionBom[7].active" style="font-family: Forma DJR Micro; font-size: 14.5px; border-color: #68CAFF;">Prices</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of x[2].BOM; let i = index;"  style="font-family: Forma DJR Micro;  font-size: 14.5px;">
                    <td *ngIf="nameApp === 'BOM'" [ngClass]="{o: b.check == true}" [ngStyle]="inStyles[b.status]" (click)="counter(j,i)">{{b.av}}</td>
                    <td *ngIf="nameApp === 'BOM'" [ngClass]="{o: b.check == true}" [ngStyle]="inStyles[b.status]" (click)="counter(j,i)">{{b.description}}</td>  
                    <td *ngIf="nameApp === 'BOM' && b.fDescription" [ngClass]="{o: b.check == true}" [ngStyle]="inStyles[b.status]" (click)="counter(j,i)">{{b.fDescription}}</td>  
                    <td *ngIf="nameApp === 'BOM' && b.fDescription && !opcionBom[6].active" [ngClass]="{o: b.check == true}" [ngStyle]="inStyles[b.status]" (click)="counter(j,i)">{{b.eol | date:'dd-MM-yyyy'}}</td>  
                    <td *ngIf="nameApp === 'BOM' && b.fDescription && !opcionBom[6].active" [ngClass]="{o: b.check == true}" [ngStyle]="inStyles[b.status]" (click)="counter(j,i)">{{b.availability | date:'dd-MM-yyyy'}}</td>  
                    <td *ngIf="nameApp === 'BOM' && b.fDescription && !opcionBom[6].active" [ngClass]="{o: b.check == true}" [ngStyle]="inStyles[b.status]" (click)="counter(j,i)">{{b.discontinued | date:'dd-MM-yyyy'}}</td>  
                    <td *ngIf="nameApp === 'BOM' && b.fDescription && !opcionBom[6].active" [ngClass]="{o: b.check == true}" [ngStyle]="inStyles[b.status]" (click)="counter(j,i)">{{b.obsolete | date:'dd-MM-yyyy'}}</td>  
                    <td *ngIf="nameApp === 'BOM' && b.fPrice && !opcionBom[7].active" [ngClass]="{o: b.check == true}" [ngStyle]="inStyles[b.status]" (click)="counter(j,i)">{{b.fPrice | number:'1.1-2'}}</td>  
                    <td *ngIf="nameApp === 'BTO'" ><input [(ngModel)]="b.av"></td>
                    <td *ngIf="nameApp === 'BTO'"><input size="50" [(ngModel)]="b.description"></td> 
                    <td *ngIf="nameApp === 'BTO'"><mat-icon mat-button (click)="clearElemen(j,i)"  type="button" >delete</mat-icon><mat-icon (click)="addElemen(j,i)" type="button">add</mat-icon></td>                                       
                </tr>
            </tbody>
    </table>
    <mat-card *ngIf="x[1].name === 'error'">       
        <div style="text-align: center; font-size: 14px;"><span *ngIf="opcionEv[1].active == false">{{x[2].ALERT}}</span><span *ngIf="opcionEv[1].active == true">{{x[2].ALERTA}}</span></div>
    </mat-card> 
    <div *ngIf="x[1].build !== 'BUILDABLE' && x[1].build">       
        <textarea  rows="17" cols="200" wrap="off" readonly style="height: 420px; font-size: 11px;">{{x[1].txtarea2}}</textarea>
    </div> 
    <div style="text-align: left; font-size: 13px;"></div>


    <div *ngIf="parts">
        <mat-form-field>
          <mat-label>Parts list name</mat-label>
          <input matInput  [(ngModel)]="partName">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Parts list</mat-label>
          <textarea matInput [(ngModel)]="partList"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="emitParts(j)">send</button>
    </div>

    </label>


    <br><br><br><br><br>
    </div>
</div> 

<div *ngIf="x">
    <button  mat-fab color="warn" class="delete-fat-button" (click)="clean()">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let x of opcionBom"> 
        <mat-slide-toggle color="primary" [(ngModel)]="x.active" (click)="opcionBomStatus()"><span *ngIf="opcionEv[1].active == false">{{x.name}}</span><span *ngIf="opcionEv[1].active == true">{{x.nombre}}</span></mat-slide-toggle>
    </button>
</mat-menu>

<span style="position: absolute; left:36%; top: 80%;"  *ngIf="!opcionBom[3].active">
    <mat-card *ngIf="noteTexBox">       
        <div style="text-align: center; font-size: 16px;" *ngIf="opcionEv[1].active == false">Use the text box to send requests. Example to upload a Bom of a SKU XXXXXXX#ABM</div><div style="text-align: center; font-size: 14px;" *ngIf="opcionEv[1].active == true">Utilice el cuadro de texto para enviar solicitudes. Ejemplo para cargar un Bom de un SKU XXXXXXX#ABM</div>
    </mat-card>           
</span> 


<!-- (focus)="selecCopy($event)" -->