.o {
    text-decoration: line-through;
    color: #6c5;
}

.si{
    background-color: #6c5;
}
.no{
    background-color: #933;
}
.delete-fat-button {
    position:fixed;
    bottom:15%;
    right:5%;
}
.tables {
    position:absolute;
    top:13%;
}
.options {
    position:absolute;
    right: 80%;
}
.options2 {
    position:relative;
    left:0%;
}
.FormaDJRMicro {
    font-family: 'FormaDJRMicro', 'arial';
  }

.HPSimplified {
    font-family: 'HPSimplified', 'arial';
}

.mat-card{
    background-color:rgb(103, 41, 184) ;
    color: #fff;
    font-family: 'FormaDJRMicro', 'arial';
    font-size: 20px;
}

/* label.labelFocus:focus{
    user-select: none;
}  */