.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.menu-fat {
  position:absolute;
  bottom:90%;
  right:95%;
}

.version {
  align-items: center;
  position:absolute;
  bottom:2%;
}

.mat-card{
  background-color:rgb(103, 41, 184) ;
  color: #fff;
  font-family: 'FormaDJRMicro', 'arial';
  font-size: 20px;
}


@-webkit-keyframes uparrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
}


.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:2em 0;
  display:block;
  height:0;
  position: absolute;
  margin-left: -20%;
  margin-top: -18%;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
  color:rgb(103, 41, 184) ;
}
.up {
  -webkit-animation: uparrow  0.6s infinite alternate ease-in-out;
  border-right: 2em solid #00b6f1;
}

.sombra{
  box-shadow: 4px 4px 30px rgb(1, 180, 10)
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}