<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div> 
           <h4><span *ngIf="opcionEv[1].active == false">{{content[0].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[0].contentTextES}}</span></h4>
           <div mat-menu-item *ngFor="let x of opcionEv; let i = index;"> 
                <span [ngClass]="{sombra: cont == 3}">
                    <mat-slide-toggle color="primary" (click)="flagEv(i)" [(ngModel)]="x.active"><span *ngIf="opcionEv[1].active == false">{{x.name}}</span><span *ngIf="opcionEv[1].active == true">{{x.nombre}}</span></mat-slide-toggle>
                    <span *ngIf="changeONav"><p  *ngIf="i == 0"><label style="color: red; font-size: 11px;"><span *ngIf="opcionEv[1].active == false">{{content[8].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[8].contentTextES}}</span></label></p></span>
                </span>
            </div>
        </div><br>
       <div *ngIf="opcionEv[3].active">
        <label id="example-radio-group-label" (click)="iM()" mat-stroked-button><span *ngIf="opcionEv[1].active == false">{{content[10].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[10].contentTextES}}</span></label>
            <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="favoriteIM">
                <mat-radio-button class="example-radio-button" (click)="flagIm()" *ngFor="let IM of IM" [value]="IM">{{IM}}</mat-radio-button>
            </mat-radio-group>
        <div *ngIf="favoriteIM !== 'Default' && favoriteIM !==''">
            <label><span *ngIf="opcionEv[1].active == false">{{content[11].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[11].contentTextES}}</span> </label><br>
            <input placeholder="mail" [(ngModel)]="mailIM" (change)="flagIm()">
            <input placeholder="password" type="password" [(ngModel)]="passwordIM" (change)="flagIm()"><br>
            <span *ngIf="changeONav2"><label style="color: red; font-size: 11px;"><span *ngIf="opcionEv[1].active == false">{{content[8].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[8].contentTextES}}</span></label></span><br>
        </div>    
        </div>
        <div class="version">
            <div [ngClass]="{sombra: cont == 4}">
                <h4><span *ngIf="opcionEv[1].active == false">{{content[4].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[4].contentTextES}}</span></h4>
                <p><span *ngIf="opcionEv[1].active == false">{{content[5].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[5].contentTextES}}</span></p>
                <p><span *ngIf="opcionEv[1].active == false">{{content[6].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[6].contentTextES}}</span></p>
                <mat-icon style="margin-top: 20px; position: absoulte; font-size: 30px;" type="button" (click)="restore()">restore</mat-icon>
            </div>
        </div> 
    </mat-drawer>
    <div style="width: 30%; margin: auto; margin-top: 170px;" *ngIf="!errorTimeIni">   
        <div class="card p-5" [ngClass]="{sombra: cont == 5}">
            <mat-form-field *ngIf="opcionEv[2].active == false">
                <mat-label><span *ngIf="opcionEv[1].active == false">{{content[1].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[1].contentTextES}}</span></mat-label>
                <input matInput type="text"  minLength="6" maxlength="6" class="form-control" [disabled]="disableText" [(ngModel)]="ping"  (keyup.enter)="sendMSG()">
            </mat-form-field>
            <button  mat-button style="width: 12px; margin-top: -55px; margin-left: 85%;" *ngIf="opcionEv[2].active == false"><mat-icon (click)="sendMSG()" >navigate_next</mat-icon></button> 
            <label style="color: red; font-size: 11px;" *ngIf="errorValidateLogin"><span *ngIf="opcionEv[1].active == false">{{content[7].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[7].contentTextES}}</span></label>

            <div *ngIf="opcionEv[2].active == true">
                <label style="font-size: 12px; margin-top: -10px; margin-left: 0%; position: absolute;"><span *ngIf="opcionEv[1].active == false">{{content[2].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[2].contentTextES}}</span></label>
                <mat-icon style="font-size: 80px; margin-top: 30px; margin-left: 30%;">smartphone</mat-icon>
            </div> 
            <ng-container *ngIf="timeCode == true">
                <ng-container *ngIf="opcionEv[2].active == true">
                    <mat-form-field>
                            <mat-label><span *ngIf="opcionEv[1].active == false">{{content[1].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[1].contentTextES}}</span></mat-label>
                            <input matInput type="text"  minLength="6" maxlength="6" class="form-control" [disabled]="disableText" [(ngModel)]="ping"  (keyup.enter)="sendMSG()">   
                    </mat-form-field>  
                    <label style="color: rgb(19, 114, 151); font-size: 11px;" *ngIf="!errorValidateLogin"><span *ngIf="opcionEv[1].active == false">{{content[9].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[9].contentTextES}}</span></label>
                    <label style="color: red; font-size: 11px;" *ngIf="errorValidateLogin"><span *ngIf="opcionEv[1].active == false">{{content[7].contentText}}</span><span *ngIf="opcionEv[1].active == true">{{content[7].contentTextES}}</span></label>
                </ng-container>
            </ng-container>


            <mat-slide-toggle color="primary" [(ngModel)]="opcionEv[2].active" (click)="opcionEvStatus()" style="font-size: 11px; margin-top: 40px; margin-left: 0%;"><span *ngIf="opcionEv[1].active == false">{{opcionEv[2].name}}</span><span *ngIf="opcionEv[1].active == true"> {{opcionEv[2].nombre}}</span></mat-slide-toggle>
        </div>
    </div>
    <div style=" margin-top: 50px; margin-left: 47%;">
        <mat-spinner *ngIf="onLoad" ></mat-spinner>
        <mat-icon *ngIf="PingValidate" style="font-size: 90px; color:lawngreen;">verified_user</mat-icon>
        <mat-icon *ngIf="errorTimeIni" style="font-size: 90px; color:crimson; margin-top: 300px; position: absolute;">cancel</mat-icon>
        <span *ngIf="errorTimeIni" style="font-size: 12px; color:crimson; margin-top: 390px; margin-left: -20px; position: absolute;"><ng-container  *ngIf="opcionEv[1].active == false" >Error timeout, start again</ng-container><ng-container *ngIf="opcionEv[1].active == true">Error timeout, reinicie app</ng-container></span>
    </div>
    <div>
    <button  mat-mini-fab color="primary" [ngClass]="{sombra: cont == 2}"  class="menu-fat" (click)="cont == 2 ? (drawer.toggle() && guide()) : drawer.toggle();">
        <mat-icon>menu</mat-icon>
    </button>
    </div>
    <div [style]="introStyles" *ngIf="cont !== guideArray.length">
        <mat-card  *ngIf="!errorTimeIni"> 
            <span>     
                <div style="text-align: center; font-weight: bold;"><span *ngIf="opcionEv[1].active == false">{{introText}}</span><span *ngIf="opcionEv[1].active == true">{{introTextES}}</span></div>
                <div style="text-align: center;"><button mat-button  (click)="guide()"><span *ngIf="opcionEv[1].active == false">{{introTextBut}}</span><span *ngIf="opcionEv[1].active == true">{{introTextButES}}</span></button></div>
            </span> 
        </mat-card>
    </div>
</mat-drawer-container>

 <!-- <button mat-stroked-button [routerLink]="['/chat', User.name]"  style="margin-top: 20px;">Iniciar</button> -->         
