/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-icons/iconfont/material-icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: FormaDJRMicro, 'FormaDJRMicro', "arial" }

@font-face {
    font-family: HPSimplified;
    src: url(assets/font/HPSimplified-Regular.ttf) format("opentype");
  }

@font-face {
    font-family: Satisfy;
    src: url(assets/font/Satisfy-Regular.ttf) format("opentype");
}


@font-face {
    font-family: FormaDJRMicro;
    src: url(assets/font/FormaDJRMicro-Regular.ttf) format("opentype");
  }


  /* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(223, 221, 221); 
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #868788; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a7aeaf; 
}